@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Raleway:wght@400&display=swap');

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 100%;
}
@media only screen and (min-width: 36em) {
  .container {
    margin: 0 auto;
    max-width: 560px;
  }
}
@media only screen and (min-width: 48em) {
  .container {
    margin: 0 auto;
    max-width: 740px;
  }
}
@media only screen and (min-width: 62em) {
  .container {
    margin: 0 auto;
    max-width: 980px;
  }
}
@media only screen and (min-width: 75em) {
  .container {
    margin: 0 auto;
    max-width: 1190px;
  }
}
.header {
  background-color: #000;
  background-image: url('/assets/img/grain1.gif');
  border-bottom: 2px solid #FED559;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  position: absolute;
  z-index: 4;
  width: 100%;
  top: 0;
  left: 0;
}
.header a {
  display: flex;
  align-items: center;
  border-bottom: 0;
}
.header.fix-nav {
  position: fixed;
  background-color: #fff;
  z-index: 5;
}
.header.hide-nav {
  transform: translateY(-120%);
  transition: transform 0.3s;
}
.header__logo {
  display: flex;
  height: 100%;
  overflow: hidden;
  padding: 19px 0;
  margin-right: 1.25rem;
  outline: 0;
  border-bottom: 0;
  color: #FED559;
}
.header__logo:hover {
  border-bottom: 0;
  color: #fff;
}
.header__logo .header__logo--container {
  width: 280px;
  height: 60px;
}
.header__inner {
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-between;
  margin: 0 -1.5rem;
}
.header__links {
  display: none;
}
.header__links-wrapper {
  display: flex;
  height: 100%;
  padding: 0;
}
.header__links-narrow {
  display: flex;
  flex-direction: column;
  position: static;
  font-size: 0.75rem;
}
  .header__link {
  }

.header__link {
  color: #fff;
  padding: 0.938rem 0.5rem;
  position: relative;
  border: 0;
  height: 100%;
}
.header__link a:hover {
  color: #FED559;
}
.header__toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 44px;
  height: 100%;
  background-color: transparent;
  padding-left: 1.25rem;
  cursor: pointer;
}
.header__toggle span {
  display: block;
  position: relative;
  margin-top: 4px;
  background-color: #343851;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  transition: all 0.2s cubic-bezier(1, 0.13, 0.35, 1.09);
}
.header__toggle span:first-child {
  margin-top: 0;
}
.header__toggle.--open span:first-child {
  transform: rotate(45deg) translate(4px, 4px);
}
.header__toggle.--open span:nth-child(2n) {
  opacity: 0;
}
.header__toggle.--open span:last-child {
  transform: rotate(-45deg) translate(4px, -4px);
}
.header__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
  transition: opacity 1s ease 0.1s;
}
.header__overlay.--open {
  width: 100%;
  height: 120%;
  opacity: 1;
}


/* if screen larger than 768px */
@media (min-width: 48em) {
  .header__toggle {
    display: none;
    visibility: hidden;
  }
  .header__links-narrow {
    display: none;
    visibility: hidden;
  }
  .header__links {
    padding: 0;
    display: flex;
    flex-direction: column;
    position: static;
    top: 3.75em;
    left: 0;
    width: auto;
    height: 100%;
    background-color: #000;
    visibility: visible;
  }
  .header__link {
    padding: 0.938rem 1rem;
  }
  .header__link::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    transform: scaleX(0);
    background: #FED559;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
  .header__link:hover {
    color: #FED559;
  }
  .header__link:hover::after, .header__link :active::after, .header__link :focus::after {
    transform: scaleX(1);
    color: #FED559;
    transition: transform 0.2s ease-in-out;
  }
}

hr {
  height: 4px;
  margin: 40px 0;
}
blockquote {
  background: #eee;
  padding: 25px;
}
h2 img {
  border: 0;
  height: 27px;
}

.headshot {
  width: 190px; 
  max-width: 190px; 
  margin-left: 20px; 
  border-radius: 15px;
}
.books-cols {
  column-count: 2;
  column-gap: 40px;
  column-rule: none;
}
.books-wrapper {
  width: 100%;
  display: flex;
  padding: 10px 0;
}
.books-photo {
  width: 75px;
}
.books-title {
  width: 100%;
  font-weight: bold;
  padding: 15px;
}
@media only screen and (min-width: 36em) {
  .books-photo {
    width: 125px;
  }
  .books-title {
    font-size: 1.3em;
  }
}


footer {
  padding: 1.8rem 0;
  border-top: 2px solid #FED559;
  text-align: center;
  font-size: 0.875rem;
  color: #666;
  background-color: #000;
  background-image: url('/assets/img/grain1.gif');
}
footer a {
  color: #666;
  border-bottom: 0;
}
footer a:hover, footer a:focus {
  color: #FED559;
  border-bottom: 0;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  margin: 0 auto 25px;
}
.social__link:not(:last-child) {
  margin-right: 1.5rem;
}
.social__icon {
  fill: currentColor;
  height: 1.5rem;
  width: 1.5rem;
}
.btn, input[type="submit"], input[type="reset"], input[type="button"] {
  position: relative;
  display: inline-block;
  padding: 18px 30px;
  font-size: 11px;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
  background-color: #222325;
  text-align: center;
  border: 0;
  border-radius: 0;
  transition: all 0.45s cubic-bezier(0.25, 1, 0.33, 1);
  outline: 0;
}
.btn::after, input[type="submit"]::after, input[type="reset"]::after, input[type="button"]::after {
  display: none;
}
.btn:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .btn :focus, input[type="submit"] :focus, input[type="reset"] :focus, input[type="button"] :focus, .btn :active, input[type="submit"] :active, input[type="reset"] :active, input[type="button"] :active {
  color: #fff;
  background-color: #44464a;
  outline: 0;
}
.btn + .btn {
  margin-top: 2em;
}
@media only screen and (min-width: 350px) {
  .btn + .btn {
    margin-top: 0;
    margin-left: 2em;
  }
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.65;
  transition: background-color 0.2s ease;
}
button:disabled:hover, button:disabled :focus {
  background-color: #222325;
}
.post-card {
  display: block;
  position: relative;
  width: 100%;
  min-height: 250px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-bottom: 2.25rem;
  border-bottom: 0;
  transition: box-shadow 0.25s ease;
}
.post-card:hover, .post-card:focus {
  border-bottom: 0;
  box-shadow: 0 2px 40px 0 rgba(153, 155, 168, 0.3);
}
@media only screen and (min-width: 48em) {
  .post-card {
    width: 48.4375%;
    margin-right: 3.125%;
  }
  .post-card:last-of-type, .post-card:nth-child(2n+2) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 75em) {
  .post-card {
    width: 31.25%;
    margin-right: 3.125%;
  }
  .post-card:nth-child(2n+2) {
    margin-right: 3.125%;
  }
  .post-card:last-of-type, .post-card:nth-child(3n+3) {
    margin-right: 0;
  }
}
.post-card__label {
  display: none;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 2;
}
.post-card__inner {
  display: block;
  position: relative;
  padding: 1.875rem 1.25rem 0.625rem;
  width: 100%;
  color: #838c8d;
  border-bottom: 0;
}
.post-card__inner:focus, .post-card__inner:hover {
  color: #838c8d;
  border-bottom: 0;
}
.post-card__header {
  margin-bottom: 0.75rem;
}
.post-card__meta {
  font-size: 0.875rem;
}
.post-card__thumb {
  margin: 0;
  background: #fff;
  position: relative;
  overflow: hidden;
}
.post-card__thumb::after {
  content: "";
  display: block;
  height: 0;
  width: 100%;
  padding-bottom: 56.25%;
}
.post-card__thumb > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.label {
  padding: 0px 10px;
  margin-bottom: 1rem;
  display: inline-block;
  line-height: 20px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  transition: all 0.2s ease;
}
.label:focus, .label:hover {
  color: #fff;
  background-color: #277cea;
  border: 2px solid #277cea;
}
.pagination {
  display: flex;
  justify-content: center;
  margin: 1.25rem auto;
}
table {
  display: table;
  width: 100%;
  overflow-x: scroll;
  margin-bottom: 1.25rem;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ededed;
  border-radius: 4px;
  font-size: 14.5px;
}
table th {
  background-color: #f9f9f9;
}
table th, table td {
  padding: 6px 13px;
  border: 1px solid #ededed;
}

.intro {
  margin: 1em auto;
  font-size: 1.5em;
  width: 65%;
  
}

.hero {
  margin: 3.75rem auto 0;
  min-height: 16.25rem;
  width: 100%;
  position: relative;
  background-color: #dde5ea;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
@media only screen and (min-width: 62em) {
  .hero {
    margin: 0 auto;
    height: 36em;
  }
}
.hero::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero--small {
  margin: 3.75rem auto 0;
  min-height: 6rem;
  width: 100%;
  position: relative;
  background: url("/assets/img/hero-camo.png") repeat center;
}
@media only screen and (min-width: 62em) {
  .hero--small {
    height: 6em;
  }
}
.hero--small::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero__wrap {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  max-width: 90%;
  z-index: 1;
}
@media only screen and (min-width: 48em) {
  .hero__wrap {
    max-width: 40em;
  }
}
.hero__wrap .hero__title {
  font-size: 1.8em;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 0 0 11px #000000;
}

@media only screen and (min-width: 36em) {
  .hero__wrap .hero__title {
    font-size: 2.6em;
}
@media only screen and (min-width: 48em) {
  .hero__wrap .hero__title {
    padding: 1rem 0;
    font-size: 3em;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 3.125rem;
    text-shadow: 0 0 11px #000000;
  }
}
.page-content {
  max-width: 52.5rem;
  margin: 0 auto;
  padding: 2.5em 0;
}
@media only screen and (min-width: 48em) {
  .page-content {
    padding: 3.75rem 0;
  }
}
.blog {
  background-color: #f9f9f9;
}
.post-list {
  padding-top: 2.5em;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
}
.post-content {
  max-width: 52.5rem;
  margin: 0 auto;
  padding-top: 2.5em;
}
@media only screen and (min-width: 48em) {
  .post-content {
    padding-top: 5em;
  }
}
